{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Пропускать дедлайны
      </li>
      <li class="list-group-item">
        Прокрастнировать
      </li>
      <li class="list-group-item">
        Не смешно шутить
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>В своём проекте я использовал великолепные технологии по трате 
        полезного времени, такие как: бесконечные просмотры ютуба, 
        получаосвые хождения в туалет, технику "не знаешь что делать - иди спать",
        а так же, все виды обжорства, начиная от простого хомячества за компом
        и заканчивая долгими и качестенными приготовлениями изысканных блюд 
        с целью изящно набить живот до отвала.
    </p>
  </article>
</div>
{% endblock %} 